body {
  background-color: #fff; /* bgc#fff  */
  color: #555; /* c#fff */
}
header {
  background-color: #9b85e6; /* bgc#002171 */
  color: #fff; /* c#fff */
}
nav {
  background-color: #ddc9eb; /* bgc#bbdefb */
}
h1 {
  margin-bottom: 0; /* mb0 */
}
h2 {
  color: #c4628d; /* c#1976d2 */
}
dt {
  color: #6c35e6; /* c#002171 */
}
.resort {
  color: #c4628d; /* c#1976d2 */
}
